#login_div{
    height: 100vh;
    width: 50vw;
    
}
#navbar_div {
    background-color:black;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
#navbar_div a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}  
/* Change the color of links on hover */
#navbar_div a:hover {
    background-color: #ddd;
    color: black;
}

#Passenger_login_div{
    height: 70vh;
    width: 35vw;
    float: left;
    text-align: left;
    font-size: 72px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10vw;   
}
#Pilot_login_div{
    height: 80vh;
    width: 40vw;
    float: right;
    margin-right: 40px;
    text-align: center;
    background-image: url(https://image.freepik.com/free-vector/flat-design-plane-travel-background_23-2147639855.jpg);
}
#big{
    text-align: center;
}
.center{
    margin: auto;
}
.login_button{
   
    color:blue;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    background-color:white;
    border-color: blue;
    border-style: solid;

}
.login_button:hover{
    background-color: #ddd;
    color: black;
}
.Advertisement{
height: 60vh;
width: 100%;;

font-weight: bold;
}
.button_holder1{
    text-align: center;
    float: left;
    width: 49%;
    font-size: 20px;
}
.button_holder2{
    text-align: center;
    float: right;
    width: 49%;
    font-size: 20px;
}